body{
	margin: 0px;
font-family: 'Montserrat', sans-serif;
}

html {
  overflow-y: scroll; 
}
a{
	text-decoration: none;
	color: inherit;
}

.container{
	width: 90%;
	margin: 0px auto;

}
nav{
	background: rgba(0,0,0,0.8);
  box-shadow: 0px 1px black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(23px);

}
.logo{
    width: 121px;
    padding-top: 5px;
}
nav ul{
	list-style: none;
	padding: 0px;
	float: right;
	margin-top: 16px;
	margin-bottom: 16px;
}
nav ul li  {
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
}
nav ul li a{
	text-decoration: none;
	color: whitesmoke;
	padding: 4px 20px;
	text-transform: uppercase;
}




.col-content{
	display: inline-block;
	overflow: hidden;
		width: 49%;
    margin: 0 1px;
}

.home-2col{
	padding: 51px 0px;
	width: 100%;
}

.image-container{
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: transform .5s ease;

}

.iconic::before{
	content:"";
	z-index: 1;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
	background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,0.7) 100%);

}

.tags{
	text-decoration: none;
	color: white;
	font-size: 10px;
	text-transform: uppercase;
	background: #222;
	padding: 2px 5px;
	font-weight: 600;

}

.title-type-1{
	text-decoration: none;
	color: white;
	font-size: 27px;
	font-weight: 600;
	margin-top:10px;
	margin-bottom: 0px;

}

.meta-container{
	position: absolute;
	margin-top: -100px;
	padding: 0 20px;

}

.col-credits span{
	font-size: 12px;
	color: white;
	font-weight: 400;
}

.quote p{
	color: #cb9558;
	font-size: 32px;
	font-weight: 600;
	font-style: italic;
	margin: 10px;
	text-align: center;

}





.block{
    min-height: 1px;
    display: inline-block;
    padding-right: 24px;
    padding-bottom: 43px;
    width: 45%;

}

.block-tag{
position: absolute;
margin-top: -21px;
}
.block-title{
	font-size: 17px;
    margin: 9px 0px 3px 0px;
    font-weight: 600;
}
.block-thumbnail a img{
	width: 100%;
}
.block-meta span{
	color: black;
}
.block-meta span:nth-of-type(1){
		font-weight: bold;
	}

.block-desc{
	font-size: 13px;
    color: #767676;
    margin-top: 9px;
}

/*Additional stylesheet*/

a.active,nav ul li a:hover{
	background: #cb9558e0;
	color: white;
	border-radius: 4px;
	transition: all 0.3s;

}
nav ul li a:focus{
	background: #cb9558;
}



.tags:hover{
		background: #cb9558 ;
	transition: all 0.4s;
}

.image-container:hover ~ div div .tags{
	background: #cb9558 ;
	transition: all 0.4s;
}
.pop-post-thumb:hover ~ .pop-post-meta .tags{
	background: #cb9558;
	transition: all 0.4s;
}
.post-small:hover > .post-small-content .tags{
	background: #cb9558;
	transition: all 0.4s;

}
.block:hover > .block-title{
	color: #cb9558;
}
.block:hover > div .block-tag{
		background: #cb9558;
	transition: all 0.4s ease;

}
::selection {
  background-color: #FFA;
  color: #000;
}
.image-container:hover{
transform: scale(1.1);
}

nav div ul li .active:target {
	background: #cb9558;
}

/*sidebar*/

.main-2{
	position: sticky;
	top: -42em;

}

.sidebar-title h4{
	border-bottom: #cb9558 1px solid;
	margin-top: 0px;
	margin-bottom: 26px;
	padding-bottom:4px ;

}

.sidebar-title h4 span{
	color: white;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	background: #cb9558;
	padding: 4px 8px;
	box-sizing: border-box;
}


.pop-post-thumb{
	background-image: url(https://demo.tagdiv.com/newspaper_classic_blog/wp-content/uploads/2015/05/26-696x385.jpg);
	width: 100%;
	height: 203px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.for-overlay{
	    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	    height: inherit;
}

.pop-post-meta{
	    margin-top: -75px;
    padding-bottom: 20px;
    padding-left: 8px;
}


.popular-post img{
	width: 100%;
}

.pop-post-meta a,.pop-post-meta div{
	display: inline-block;
	margin-right: 5px;
}

.pop-post-meta h3{
	font-size: 22px;
}

.post-small-content h3{
	color: black;
	font-size: 15px;
	margin: 0;
	font-weight:400 ;
	padding-top: 5px;

}
.post-small-content a{
	font-size: 8px;
}

.post-small{
	padding-top: 20px;
}



.categories, .social-sidebar{
	margin-top: 40px;
}

.category-content{
	padding: 0px 15px;
} 

.category-content p{
	margin: 0;
	padding: 6px 0;
	font-size: 14px;
}

.social-sidebar{
	margin-bottom: 30px;
}

footer{
	background: #222;
	padding-top: 50px;
}

footer p{
	color: white;
	width: 80%;
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
}

table,tr,td{
	width: 100%;
	margin: 0;
	padding: 5px 0px;
	border-collapse: separate;
	font-size: 11px;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1.5px;
	line-height: 2;
	border-spacing: 0 8px;
}





/*making things responsive*/
#check{
	display: none;
}

.checkbtn{
	font-size: 25px;
	color: white;
	float: right;
	line-height: 46px;
	margin-right:40px ;
	cursor: pointer;
	display: none;
}

@media (max-width: 1000px){

	.checkbtn{
		display: block;
	}

	nav ul{
		width: 100%;
		position: fixed;
		background: rgba(0,0,0,0.8);
		backdrop-filter: blur(23px);
		text-align: center;
		padding-top: 10px;
		margin: 0;
		right: -100%;
		transition: all .5s;

	}
	nav ul li{
		display: block;
		padding: 20px 0;
	}
	nav ul li a{
		color: white;
	}

	#check:checked ~ .container ul{
		right: 0px;

	}


}

@media (max-width: 1100px){
	
.col-content{
	width: 49%;
    display: inline-block;
    margin: 0 1px;
	}

.image-container{
	background-position: center;
	height: 350px;
}	
.title-type-1{
	font-size: revert;
}

.quote p{
	font-size: 23px;
}
.pop-post-meta h3{
	font-size: 18px;
}
}


@media (max-width: 1100px){
	.image-container{
		height: 250px;
	}
	.home-2col{
	padding: 47px 0px 20px 0px;
	width: 100%;
	}
	.main-1,.main-2{
		margin-top:40px !important ;
	}
	.block{
		padding-right: 15px;
	}
	.block-title{
		font-size: 14px;
		margin-top: 4px;
	}
	.block-meta span{
		font-size:10px ;
	}
	.block-desc{
		font-size: 12px;
		margin-top: 5px;
	}
	.sidebar-title h4{
		margin-bottom: 10px;
	}
	.post-small{
		padding-top: 10px;
	}

	.categories, .social-sidebar {
    margin-top: 20px;
	}
	table tr td{
		font-size: 9px;
	}

}

@media (min-width: 768px) and (max-width: 1100px){
	.sidebar-title h4 span{
		font-size: 10px;
	}
	.sidebar-title h4 {
		padding-bottom: 3px;
	}
	.pop-post-meta h3{
		font-size: 15px;
	}
	.tags{
		font-size: 9px;
	}
	.post-small-content h3{
		font-size: 13px;
	}
	.category-content p{
		font-size: 12px;
	}
	.block-tag{
		margin-top: -19px;
	}
	.block-title{
		font-size: 13px;
	}

}

@media (min-width: 1100px){
	.block-title{
		font-size: 20px;
		font-weight: 400;
	}
}
@media (max-width: 767px){

	body{overflow: hidden;}

	.main-1,.main-2{
		width: auto !important;
		display: block !important;
	}
	.block{
		display: block;
		width: 100%;
	}
	.logo{
		width: 120px;
		padding-top: 2px;
		padding-left: 0;
	}
	.col-content{
		display: block;
		width: auto;
		margin-bottom: 5px;
	}
	.home-2col{
		padding-top: 47px;
		width: 112%;
		margin-left: -6%;
	}
	.quote p{
		font-size: 19px;
	}
	.title-type-1{
		font-size: 22px;
	}
	.meta-container{
		padding-left: 10px;
	}
	.block-title{
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 7px;
	}
	.block-meta span{
		font-size: 12px;
	}
	.block-desc{
		font-size: 14px;
	}

	footer div img{
		width: inherit;
	}
	.sidebar-title{
		margin-bottom: 20px;
	}
	.categories,.social-sidebar{
		margin-top: 40px;
	}
	.post-small{
		padding-top: 20px;
	}

}

